<html>

<head>
	<title>AGR</title>
	<link href="https://cdn.jsdelivr.net/searchkit/0.9.0/theme.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div id='root'>
	</div>
	<script src="/poc1/static/bundle.js"></script>

</body>

</html>
